<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Пример изображения</title>
</head>
<body>
<img src="/templates/image.jpg" alt="Шуточка" width="500" height="500">
<h1> Ты можешь авторизоваться прямо сейчас ! </h1>
</table>
<tr>
    <td colspan="2" align="center">
        <a href="/hello" style="padding: 10px 50px; background-color: #00B8FB; color: white; border: none; border-radius: 4px; cursor: pointer; text-decoration: none; margin-left: 173px;">Sign in</a>
    </td>
</tr>
</table>
</body>
</html>





